header {
  background-color: #282c34;
  padding: calc(10px);
  text-align: center;
}

main {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}

h1 {
  margin: calc(20px) calc(40px) 0;
}

.wireframe {
  img {
    display: block;
    width: 100%;
  }
}

img.card-img-top {
  max-width: 25vw;
  max-height: 24vh;
  display: flex;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  img.card-img-top {
    max-height: 4rem;
  }
}

span.headerTitle {
  font-size: 26px;
}

.rbt.typeAheadClass {
  width: 25vw;
}

